/* text */
h1, h2, p, div, header {
  font-family: 'Roboto';
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 500px;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 500px;
}

.board {
  border: 1px solid black;
  display: grid;
  height: 500px;
  width: 500px;
}
/* grid
.container {
  margin-top: 30px;
  margin-left: 30%;
  width: 50%;
}

.box {
  background: #9E9E9E;
  border: black 1px solid;
  cursor: pointer;
  float: left;
  height: 30px;
  margin: 0 auto;
  width: 30px;
 }

.row {
  display: block;
  float: left;
  width: 100%;
} */
