h1, h2, p, div, header {
  font-size: 30px;
  font-family: 'Roboto';
}

footer {
  background: coral;
  bottom: 0;
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.box {
  background: #9E9E9E;
  border: black 1px solid;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 0;
  cursor: pointer;
  display: inline-block;
  float:left;
}

.row {
  display: block;
  float:left;
  width:100%;
}

.container {
  margin: auto;
  width: 50%;
}
